{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Self motivated software engineer with 3+ years of experience as python developer.
          Possess practical working knowledge of python using flask framework and api with
          database such as PostgreSQL and MySql. Ability to identify problems and create
          effective solutions that keep projects on track. Constantly updating professional t
          echnical skills with online courses and bootcamps.
        </p>
        <p>
          It's a startup website which can help people to know about the cafe and allows to add
          a cafe with required details.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
